services:
  fastapi:
    image: mlspecialist99/fastapi:dev
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8002:8000"

  streamlit:
    image: mlspecialist99/streamlit:dev
    build:
      context: ./streamlit_app
      dockerfile: Dockerfile
    ports:
      - "8501:8501"
    environment:
      API_URL: http://fastapi:8000
      APP_VERSION: 4.0.0



